/* width */
.scrollable::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #444; 
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; 
}