html.dark .status::before {
  display: inline-block;
  position: relative;
  content: ' ';
  width: 9px;
  height: 9px;
  border-color: none;
  border-radius: 50%;
  margin-right: 6px;
  background: #909090;
}

html.dark .status.active::before {
  background: #4FBB4F;
}

.status::before {
  display: inline-block;
  position: relative;
  content: ' ';
  width: 9px;
  height: 9px;
  border-color: none;
  border-radius: 50%;
  margin-right: 6px;
  background: #C4C4C4;
}

.status.active::before {
  background: #008000;
}